[data-toggle="collapse"][aria-expanded="true"]>.rotate-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.jumbotron {
    background-color: #05868f;
    color: #ffffff;
    border-radius: 0;
    margin-top: 40px;
}

.breadcrumb {
    background-color: transparent;
}

footer {
    margin-top: 20px;
    padding: 30px 10px 10px 20px;
    background-color: #05868f;
}

footer,
footer a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #88e0f7;
}

.banner {
    height: 50vw;
}

@media (min-width: 576px) {
    .banner {
        height: 40vw;
    }
}

.card-hotel {
    flex: 1 250px;
    padding: 20px;
    margin: 5px 5px;
}

@media (min-width: 576px) {
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
    .card-imagen {
        height: 13vw;
    }
}

.btn-reserva {
    width: 100%;
}

@media (max-width: 576px) {
    .enlase-footer {
        justify-content: space-around;
    }
}

.direccion i {
    padding: 0 0 5px 0;
    align-items: center;
    text-align: center;
}


/* Internas */


/* Contacto */

legend {
    font-size: 20px;
    color: #007bff;
}


/* Precio */

.accordion {
    margin: 0 0 1rem 0;
}

.accordion a {
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
}

.accordion .card-header {
    border-radius: 5%;
    background-color: #336699;
}

.accordion .card-header :hover {
    color: #66FFFF;
}

[data-toggle="collapse"][aria-expanded="true"]>.rotar-icono {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.table-precio td,
.table-precio th {
    text-align: center;
}

.tab-content {
    padding: 10 0 0 0;
}

cite span {
    color: #727272;
    display: block;
    text-transform: none;
    margin-top: 5px;
    font-style: italic;
    font-size: 15px;
}